<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
  <div>
    <label for="nome">Nome do processo:</label>
    <input 
      type="text" 
      id="nome" 
      name="nome" 
      [(ngModel)]="userData.nome" 
      required
      #nome="ngModel">
      
    <div *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <small *ngIf="nome.errors?.['required']">O nome do processo é obrigatório</small>
    </div>
  </div>

  <div>
    <label for="numero">Número de chegada do processo:</label>
    <input 
      type="text" 
      id="numero" 
      name="numero" 
      [(ngModel)]="userData.numero" 
      required
      #numero="ngModel">
      
    <div *ngIf="numero.invalid && (numero.dirty || numero.touched)">
      <small *ngIf="numero.errors?.['required']">O número de chegada do processo é obrigatório</small>
    </div>
  </div>

  <div>
    <label for="duracao">Duração do processo:</label>
    <input 
      type="text" 
      id="duracao" 
      name="duracao" 
      [(ngModel)]="userData.duracao" 
      required
      #duracao="ngModel">
      
    <div *ngIf="duracao.invalid && (duracao.dirty || duracao.touched)">
      <small *ngIf="duracao.errors?.['required']">A duração do processo é obrigatória</small>
    </div>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Enviar</button>
</form>

<div *ngIf="submitted">
  <h3>Dados Enviados:</h3>
  <p>Nome: {{ userData.nome }}</p>
  <p>Número de Chegada do Processo: {{ userData.numero }}</p>
  <p>Duração do Processo: {{ userData.duracao }}</p>
</div>